<form method="get" action="/search" class="w-100">
  <input autocomplete="off" name="q" value="<%= content_for(:query) %>" class=" input-reset ba b--black-20 db pa1 w-100" type="search" placeholder="Search" aria-label="Query">
  <button type="submit" class="btn btn-primary sr-only">Search</button>
</form>
