/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.w6 {
  width: 32rem
}

nav {
  z-index: 999;
  transition: transform 300ms ease-in-out;
  transform: translateX(30%);
  box-shadow: -8px 0px 15px rgba(50, 50, 50, 0.25);
  &.closed {
    transform: translateX(32rem);
    box-shadow: none;

  }
  ul li {
    padding-left: 1rem;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-inverse .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.turbolinks-progress-bar {
  background-color: lighten(#F00, 25%);
}

span.twitter-typeahead {
  display: block !important;
  width: 100%;

  // Fix background color on selection in input and suggestions
  .tt-input::selection,
  .tt-cursor {
    color: inherit !important;
    background-color: #CCC !important;
  }

  .tt-hint {
    color: #CCC;
  }

  .tt-menu {
    width: 100%;
  }

  .tt-suggestion {
  }

  .tt-suggestion.tt-cursor {
  }
}

// Harmonize background color of selection in input
input::selection {
  background-color: #CCC !important;
}
