<footer class="mt2">
    <div class="ph4">
    <p class="text-center text-muted">
        <span>By <a href="https://orph.eu" class="text-muted"><strong>mario</strong></a>; forked and adapted from <a href="https://github.com/vinc/news.vinc.cc" class="text-muted"><strong>vinc</strong></a>.</span>
        <span>Code licensed <a href="https://raw.githubusercontent.com/seekr/news.vinc.cc/master/LICENSE" class="text-muted"><strong>MIT</strong></a>.</span>
    </p>
    <div>
</footer>