

<div class="flex bb b--blue bw1 bg-black-10">
  <div id="menuToggle" class="flex items-center pointer pa2">
  <%= image_tag("hambuguer-menu-segment.png", size: "24", :alt => "Open Menu") %>
  </div>
  <div class="pa0 ph2 flex items-center w-80">
  <% unless content_for(:page) == 'home' %>
    <%= render 'search/form' %>
  <% end %>
  </div>
</div>
